@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-size: unset; }

p,
span,
a,
button,
i {
  font-size: 1.4rem;
  font-family: "Inter", sans-serif; }

p {
  line-height: 135%;
  opacity: 0.7; }

h1 {
  font-size: 2.4rem;
  font-family: "Playfair Display", serif; }

strong {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.btn {
  width: 21rem;
  height: 5rem;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #012e29;
  text-decoration: none;
  transition: 0.3s; }
  .btn:hover {
    transform: translateY(-2px); }

.btn-white {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.6rem;
  font-weight: 500; }
  .btn-white svg {
    font-size: 3.8rem; }

.container {
  max-width: 132rem;
  margin: auto; }

.title {
  font-weight: 500;
  font-size: 60px;
  line-height: 113.8%;
  font-family: "Playfair Display", serif;
  color: #012e29;
  padding: 2rem 0; }

.banar {
  text-align: center;
  min-height: 83.7rem;
  padding-top: 17rem;
  background-image: url("assets/images/bg-banar.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1; }
  .banar::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #012e29;
    z-index: -1;
    opacity: 0.8; }
  .banar .content {
    max-width: 75.6rem;
    margin: auto; }
    .banar .content .title-lg,
    .banar .content .title-lg-1 {
      color: #fff;
      font-size: 7.2rem;
      font-weight: 400;
      line-height: 8.1rem; }
    .banar .content .title-lg-1 {
      color: #d9a253; }
    .banar .content p {
      color: #fff;
      padding: 2.2rem; }
  .banar-btns {
    display: flex;
    gap: 3.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 2rem; }

.about .img {
  position: relative;
  min-height: 60.1rem;
  margin-top: -30rem;
  z-index: 2; }
  .about .img > img {
    border-radius: 2rem;
    max-height: 60.1rem; }

.about .content {
  max-width: 70%; }
  .about .content .plan {
    border: 1px solid #d9a253;
    border-radius: 1rem;
    width: 50rem;
    height: 16.5rem;
    overflow: hidden; }
    .about .content .plan-wrp {
      display: flex;
      gap: 3.7rem;
      margin: 3rem 0; }
    .about .content .plan-top {
      display: flex;
      height: 10.8rem;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #d9a253; }
      .about .content .plan-top-left, .about .content .plan-top-right {
        border-right: 1px solid #d9a253;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #d9a253; }
        .about .content .plan-top-left strong, .about .content .plan-top-right strong {
          font-family: "Inter", sans-serif;
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 143.9%; }
        .about .content .plan-top-left span, .about .content .plan-top-right span {
          font-family: "Inter", sans-serif;
          font-weight: 700;
          font-size: 1.6rem;
          line-height: 143.9%; }
      .about .content .plan-top-right {
        border-right: none;
        background-color: #d9a253;
        color: #fff; }
        .about .content .plan-top-right strong {
          font-family: "Inter", sans-serif;
          font-weight: 700;
          font-size: 4.8rem;
          line-height: 143.9%;
          position: relative; }
          .about .content .plan-top-right strong span {
            position: absolute;
            font-size: 2.4rem;
            top: 1rem;
            right: -3rem; }
        .about .content .plan-top-right span {
          font-family: "Inter", sans-serif;
          letter-spacing: 0.38em;
          font-weight: 700;
          font-size: 1.6rem;
          display: block;
          margin-top: -1rem; }
    .about .content .plan-bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5.7rem;
      font-family: "Inter", sans-serif;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 143.9%; }
  .about .content .partner {
    height: 16.5rem;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    justify-content: center; }
    .about .content .partner strong {
      font-size: 1.6rem;
      font-weight: 400; }
    .about .content .partner .images {
      display: flex;
      gap: 1rem; }
      .about .content .partner .images img {
        height: 4.5rem; }

.about-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem; }
  .about-btns .btn-white {
    color: #000; }
